
.divPrincipal {
    display: flexbox;
    background-color: rgb(152, 240, 211);   
    height: 300px;
    width: 600px; 
    border: 20px black;
}

.divSecundario {
    display: flexbox;
    background-color: aquamarine;   
    height: 200px;
    width: 400px; 
    border: 20px black;

}