.cores1 {
    background-color: rgb(143, 9, 184);
    color: black;
}


.cores2 {
    background-color: black;
    color:darkorange;
}

h2 {
    background-color: darkred;
    color: black;
}

----- RODAPÉ ------

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(131, 121, 121);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: tahoma
  }